<connectionStrings>
  <add name="DefaultConnection" 
       connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-2813c994-91a9-4857-bbff-8faaf71260b0;AttachDbFilename=|DataDirectory|\aspnet-Website-2813c994-91a9-4857-bbff-8faaf71260b0.mdf;Integrated Security=SSPI" 
       providerName="System.Data.SqlClient" />
  <add name="ChinookDB"
        connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
        providerName="System.Data.SqlClient"/>
</connectionStrings>
